@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif !important;
}

.cursor-pointer{
    cursor: pointer;
}


.fs-14{
    font-size: 14px;
}

.h-full{
    height: 100vh;
}

body{
    height: 100vh;
}

/* ///////////////////////////////////////////////////////////////////// */
/* Auth */

.bg-yellow{
    background: linear-gradient(71.17deg, #FEAF00 19.35%, #F8D442 90.12%);
}

.form-card{
    background-color: white !important;
    width: 476px;
    min-height: 550px;
    box-shadow: 2px 5px 10px 0px #0000001A;
    padding: 42px 30px 0;
    border-radius: 20px;
}


.text-gray{
    color: #6C6C6C !important;
}

.fs-14{
    font-size: 12px !important;
}

.w-45{
    width: 45%;
}

.upload-image{
    width: 100px;
    height: 100px;
}

.upload-image img{
    width: 40px;
}

/* ///////////////////////////////////////////////////////////////////// */
/* Side Bar */

img.profile-image{
    width: 128px;
}

.clipped-image{
    width: 128px;
    height: 128px;
    overflow: hidden;
    border-radius: 50%;
}

.bg-beige{
    background-color: #F2EAE1;
}

.w-20{
    width: 20%;
}

.logo .w-logo{
    width: 84.89px;
}

.list-group{
    border: none !important;
}

.list-group-item.active{
    background-color: #FEAF00 !important;
    color: black !important;
}

.list-group-item{
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px !important;
}

/* ///////////////////////////////////////////////////////////////////// */
/* Search Box */

/* .navbar-info{} */

.navbar-info-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    transform: translateY(-200vh);
    transition: all 0.2s;
}

.navbar-info-nav-show{
    transform: translateY(0);
}

.w-search-input{
    width: 80vw !important;
}

.input-group .form-control {
  outline: none ;
  box-shadow: none !important;
  border-right: none;
}

.input-group .form-control:focus{
  border-color: rgb(222, 226, 230);
}

.input-group .form-control::placeholder{
  color: #C4C4C4;
}

.input-group-text {
  background-color: white !important;
  border-left: none !important;
}

/* //////////////////////////////////////////////////////////////////// */
/* Products List */
.menu-icon{

}

.menu-icon img{
    width: 24px;
    height: 24px;
}

.bg-gray{
    background-color: #FDFDFD;
    height: 100vh;
}

img.product-image{
    width: 208px;
    height: 208px;
}

.product-overlay {
  opacity: 0;
  background-color: #F2EAE1B2;
  transition: opacity 0.3s ease; 
}

.product-card:hover .product-overlay{
    opacity: 1;
}

.product-card{
    border: none !important;
    box-shadow: 8px 8px 4px 0px #00000040;
    height: 208px !important;
}

/* //////////////////////////////////////////////////////////////////// */
/* Product */

.back-btn{
    width: 40px;
    height: 40px;
}

/* add new product item */

.h-360{
    height: 360px;
}

.image-input{
    border: 1px dashed #384EB74D;
    background-color: #F8F8FF;
}

.img-208{
    /* width: 208px; */
    height: 208px;
}

/* ////////////////////////////////////////////////////////////////// */
/* product details */

.fs-60{
    font-size: 50px;
}

.text-gray{
    color: #8080808C;
}

.details img{
    height: 370px;
    width: auto;
}


@media(min-width: 1000px){
    .w-search-input{
        width: 664px !important;
    }
}